*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    padding: 0px 8rem;
    background-color: #F5F3C1;
    
}

.logo, .nav-items{
    /* border: 2px solid red; */
    margin: 1rem;
}
.logo h1{
    font-family: 'roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;  
}

.nav-items ul{
    display: flex;
    gap: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

.nav-items a, li{
    text-decoration: none;
    list-style-type: none;
    color: #000;
}


.hero-section{
    border: 2px solid red;
}

.hero-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid gray;
    padding: 2rem;
    margin: 2rem 3rem;
    border-radius: 15px;
}

.hero-section .hero-description{
    width: 45%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.hero-section .hero-picture{
    border: 2px solid red;
    width: 45%;
    display: flex;
    justify-content: center;
}
.hero-section .hero-picture img{
    width: 70%;
}