.blogs{
    /* border: 2px solid red; */
    margin: 0px 8rem; 
    padding: 1rem 2rem;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.blogs .card{
    border: 1.4px solid gray;
    height: 55vh;
    width: 22vw;
}

.blogs .card:hover{
    border: 2px solid #002B5B;
    box-shadow: 0px 5px 15px 5px rgba(25, 40, 55, 0.347);


}

.blogs .card .blog-img{
    /* border: 2px solid yellow; */
    height: 60%;
    overflow: hidden;
   
    
}

.blogs .card .blog-img img{
    width: 100%;
   
}
.blogs .card .text-field{
    /* border: 2px solid yellow; */
    height: 40%;
    padding: 0.2rem 1rem;
    font-family: roboto;
}

.blogs .card .text-field button{
    border: none;
    background: white;
    outline: 1px solid #002B5B;
    color: #002B5B;
    border-radius: 4px;
    padding: 0.3rem 2rem;
    font-weight: bold;
}

.blogs .card .text-field button:hover{
    outline: none;
    color: white;
    background: red;
}

.blogs .card .text-field .heart{
    display: inline-block;
    float: right;
    color: gray;
    font-family: sans-serif;
    
    
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content .dropdown-row {
    display: flex;
  }
  
  .dropdown-content .dropdown-col {
    flex: 1;
    margin: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown.show .dropdown-content {
    display: block;
    animation: dropdown-animation 0.5s ease-in-out;
  }
  
  @keyframes dropdown-animation {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  