*{
    margin: 0;
    padding: 0;
}
body{
    /* color: red; */
}
.navbar{
    /* border: 2px solid black; */
    background-color: #AACB73;
    color: #FFFFE8;
    padding: 1.2rem;
    font-family: roboto;
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    list-style-type: none;
   
    margin: auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: sans-serif;
    width: 40%;
    align-items: center;

}

.navbar ul a{
    color: whitesmoke;
    text-decoration: none;
}

.navbar ul :hover{
    color: #FFB100;
    font-weight: bold;
    
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    

}
.main h2{
    font-weight: bold;
}

.main span{
    font-family: roboto;
    color: #FFFFE8;
    padding: 0.6rem 1.6rem;
    background: rgb(2, 172, 30);
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    

}



