*{
    margin: 0;
    padding: 0;
}
body{
    /* color: red; */
}
.navbar{
    /* border: 2px solid black; */
    background-color: #AACB73;
    color: #FFFFE8;
    padding: 1.2rem;
    font-family: roboto;
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    list-style-type: none;
   
    margin: auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: sans-serif;
    width: 40%;
    align-items: center;

}

.navbar ul a{
    color: whitesmoke;
    text-decoration: none;
}

.navbar ul :hover{
    color: #FFB100;
    font-weight: bold;
    
}

.main{
    justify-content: center;
    align-items: center;
    

}

.main h1{
    font-family: roboto;
    margin: 1rem auto;
    text-align: center;
    background-image: url("../templates/images/red-tag1.png");
    background-size: cover;
    /* background-color: red; */

}

.sample{
    border: 2px solid red;
    height: 20vh;
    background-image: url("../templates/images/1.jpg");
    background-size: cover;
    

}