*{
    margin: 0;
    padding: 0;
}
body{
    /* color: red; */
}
.navbar{
    /* border: 2px solid black; */
    background-color: #AACB73;
    color: #FFFFE8;
    padding: 1.2rem;
    font-family: roboto;
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    list-style-type: none;
   
    margin: auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: sans-serif;
    width: 40%;
    align-items: center;

}

.navbar ul a{
    color: whitesmoke;
    text-decoration: none;
}

.navbar ul :hover{
    color: #FFB100;
    font-weight: bold;
    
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    

}
.main h2{
    font-weight: bold;
}

.main span{
    font-family: roboto;
    color: #FFFFE8;
    padding: 0.6rem 1.6rem;
    background: rgb(2, 172, 30);
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    
}

.card1{
    /* border: 2px solid green; */
    margin: auto 8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: roboto;
}

.product-card{
    /* border: 2px solid red; */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.4rem;
    
    
}

.product-card img{
    width: 70%;
    position: relative;
}

.product-card img:hover{
    display: block;
    position: absolute;
    width:18%;
  }
  

.product-card button{
    padding: 0.3rem 1.6rem;
    background: green;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 20px 5px rgba(64, 67, 65, 0.477);
    color: white;
    font-size: bold;

}
.populer-section{
    /* border: 2px solid red; */
}

.populer-section .more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.populer-section .more a{
    color: #002B5B;
    font-weight: bold;
    font-family: roboto;
    text-decoration: none;
    outline: 3px solid #002B5B;
    border-radius: 3px;
    padding: 0.3rem 2.5rem;
    margin:0px auto 1rem auto;
}

.populer-section .more a:hover{
    color: white;
  background: red;
  outline: 3px solid #010624;
}

.sale{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    
}
.sale img{
    width: 70vw;
    /* border: 2px solid red; */
    border-radius: 10px;
}

.banner{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 10rem;
    
    
}
.banner img{
    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px rgba(64, 67, 65, 0.477);
}

.wraperbanner{
    /* border: 2px solid red; */
    
}

.blog-card{

    display: flex;
    margin: 2rem;
    border: 2px solid grey;
    width: 40vw;
    /* height: 35vh; */
    border-radius: 5px;
   
}
.blog-card div{
    /* border: 2px solid green; */
    margin: 0px 0.4rem 0px 0px;
    width: 20vw;
    
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.blog-card div img{
    width: 100%;
}
.blog-card a{
    text-decoration: none;
    color: #010624;
    font-family: roboto;
    font-size: 1.2rem;
    display: inline;
    width: 50%;
    text-align: center;
    padding: 0.6rem 0.8rem;
    outline: 2px solid #010624;
    border-radius: 4px;

}
.blog-card a:hover{
    color: white;
    background-color: red;
    outline: none;
}

.blog-wrapper-card{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    margin: 0px ;
    background-color: rgba(200, 200, 200, 0.301);
}


/* Footer Styles */

footer {
    background-color: #f7f7f7;
    /* border: 2px solid red; */
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
  }
  

  
  footer h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
    font-family: light;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 5px;
  }
  
  footer a {
    color: #666;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  footer a:hover {
    color: #1d1c1c;
  }
  
  footer .category {
    flex-basis: 20%;
  }
  
  footer .quick-links {
    flex-basis: 20%;
  }
  
  footer .address {
    flex-basis: 20%;
  }
  
  footer .follow-us {
    flex-basis: 20%;
  }
  
  footer p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  

  .hero{
    /* border: 2px solid red; */
    padding: 2rem 10rem;
    font-family: sans-serif;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    background-color: #F6F1E9;
    

  }
  .hero div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 1rem;
 
  }
.hero .side-img{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */

}

.hero .side-img img{
  width: 100%;
  border-radius: 10px;
}

.hero .desc{
  display: flex;
  flex-direction: column;
  font-family: roboto;
}

  .map{
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }
  .map iframe{
    /* border: 2px solid red; */
    width: 90vw;
    height: 70vh;
  }